[user]
  name = Scott Werner
  email = scott.werner.vt@gmail.com
[includeIf "gitdir:~/Orgs/"]
    path = ~/Orgs/.gitconfig
[color]
  all = true
  ui = true
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = red
  untracked = yellow
[alias]
  po = push origin
  pu = push upstream
  c = commit
  cp = cherry-pick
  ch = checkout
  st = status --column -sb
  recent = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:green)%(committerdate:relative)%(color:reset) %(color:yellow)%(refname:short)%(color:reset) %(contents:subject) (%(authorname))'
[push]
  default = simple
[core]
  pager = less -XR 
[pager]
  log = less
  show = less -R
  diff = less -R
[help]
  autocorrect = 1
