!! Test
!! * xrdb -merge < ~/.Xresources
!! * xrdb -load ~/.Xresources & xrdb -query
!!
!! References
!! * https://linux.die.net/man/1/urxvt
!! * https://www.askapache.com/linux/rxvt-xresources
!! * https://addy-dclxvi.github.io/post/configuring-urxvt/
!! * https://github.com/hillyu/hill/blob/master/.Xresources
!! * https://unixporn.reddit.com/comments/6b5ch8/how_to_achieve_macos_font_rendering_in_linux_in/
!! * https://github.com/hillyu/hill/blob/master/.Xresources
!! * http://www.netswarm.net/misc/urxvt-xtermcompat.txt
!! * https://jscape.kayako.com/knowledgebase/article/View/5/7/sending-ctrla-ctrlh-f1-f12-and-other-function-keys-to-telnet-server

!! OSX Font Rendering
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   false
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! General
URxvt*termName:       rxvt-unicode
URxvt*geometry:       125x45
URxvt*loginShell:     true
URxvt.iso14755:       false
URxvt.iso14755_52:    false
URxvt*depth:          32
URxvt*internalBorder: 20
URxvt*borderless:     true
URxvt*visualBell:     false
URxvt*fading:         15
URxvt*saveLines:      4096
URxvt*underlineColor: #FFD740

!! Scrolling
URxvt*scrollBar:         false
URxvt.scrollBar_right:   false
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*skipScroll:        true

!! Cursor
URxvt.cursorBlink:      true
URxvt.cursorUnderline:  true

!! Fonts
URxvt*font:        xft:Hack:size=9:antialias=true:hinting=false
xterm*faceName:    xft:Hack:size=9:antialias=true:hinting=false
URxvt*boldFont:    xft:Hack:size=9:antialias=true:hinting=false:weight=bold
URxvt*italicFont:  xft:Hack:size=9:antialias=true:hinting=false:slant=italic
URxvt*letterSpace: 0
URxvt*lineSpace:   0

!! Color Schema: iTerm2 Material Design
!! https://github.com/MartinSeeler/iterm2-material-design/blob/master/colors.md
!! special
! *.foreground:     #ECEFF1
! *.background:     #263238
! *.cursorColor:    #B3B8C3
! *.underlineColor: #FFD740
!! black
! *color0:          #546E7A
! *color8:          #B0BEC5
!! red
! *color1:          #FF5252
! *color9:          #FF8A80
!! green
! *color2:          #5CF19E
! *color10:         #B9F6CA
!! yellow
! *color3:          #FFD740
! *color11:         #FFE57F
!! blue
! *color4:          #40C4FF
! *color12:         #80D8FF
!! magenta
! *color5:          #FF4081
! *color13:         #FF80AB
!! cyan
! *color6:          #64FCDA
! *color14:         #A7FDEB
!! white
! *color7:          #A7FDEB
! *color15:         #FFFFFF
!! Bold, Italic, Underline
! *.colorBD:        #ffffff
! *.colorIT:
! *.colorUL:        #FFD740

!! Color Schema: Material Palenight
!! https://terminal.sexy
!! https://github.com/JonathanSpeek/palenight-iterm2
!              special
*.foreground:  #959dcb
*.background:  #292d3e
*.cursorColor: #959dcb
!              black
*.color0:      #292d3e
*.color8:      #434758
!              red
*.color1:      #f07178
*.color9:      #ff8b92
!              green
*.color2:      #c3e88d
*.color10:     #ddffa7
!              yellow
*.color3:      #ffcb6b
*.color11:     #ffe585
!              blue
*.color4:      #82aaff
*.color12:     #9cc4ff
!              magenta
*.color5:      #c792ea
*.color13:     #e1acff
!              cyan
*.color6:      #89ddff
*.color14:     #a3f7ff
!              white
*.color7:      #d0d0d0
*.color15:     #ffffff

!! Swap CTRL and SUPER for OSX Experience
URxvt*keysym.Mod4-question:     \177
URxvt*keysym.Mod4-underscore:   \037
URxvt*keysym.Mod4-asciicircum:  \036
URxvt*keysym.Mod4-6:            \036
URxvt*keysym.Mod4-bracketright: \035
URxvt*keysym.Mod4-backslash:    \034
URxvt*keysym.Mod4-bracketleft:  \033
URxvt*keysym.Mod4-z:            \032
URxvt*keysym.Mod4-y:            \031
URxvt*keysym.Mod4-x:            \030
URxvt*keysym.Mod1-W:            \027
URxvt*keysym.Mod4-w:            \027
URxvt*keysym.Mod4-v:            \026
URxvt*keysym.Mod4-u:            \025
URxvt*keysym.Mod4-t:            \024
URxvt*keysym.Mod4-s:            \023
URxvt*keysym.Mod4-r:            \022
URxvt*keysym.Mod4-q:            \021
URxvt*keysym.Mod4-p:            \020
URxvt*keysym.Mod4-o:            \017
URxvt*keysym.Mod4-n:            \016
URxvt*keysym.Mod4-m:            \015
URxvt*keysym.Mod4-l:            \014
URxvt*keysym.Mod4-k:            \013
URxvt*keysym.Mod4-j:            \012
URxvt*keysym.Mod4-i:            \011
URxvt*keysym.Mod4-h:            \010
URxvt*keysym.Mod4-g:            \007
URxvt*keysym.Mod4-f:            \006
URxvt*keysym.Mod4-e:            \005
URxvt*keysym.Mod4-d:            \004
URxvt*keysym.Mod4-c:            \003
URxvt*keysym.Mod4-b:            \002
URxvt*keysym.Mod4-a:            \001
URxvt*keysym.Mod4-at:           \000
! Ctrl+left  => backward word
! Ctrl+right => forward word
! https://superuser.com/a/1203715/334598
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

!! Extensions
URxvt.perl-ext-common: default,matcher,clipboard,keyboard-select,url-select,-searchable-scrollback
URxvt.matcher.button:       2
URxvt.clipboard.autocopy:   true
URxvt.copyCommand:          xclip -i -selection clipboard
URxvt.pasteCommand:         xclip -o -selection clipboard
URxvt.keysym.C-c:           perl:clipboard:copy
URxvt.keysym.C-v:           perl:clipboard:paste
URxvt.keysym.C-M-v:         perl:clipboard:paste_escaped
URxvt.keysym.C-f:           perl:keyboard-select:search
URxvt.keysym.Mod5-Escape:   perl:keyboard-select:activate
URxvt.url-launcher:         xdg-open
URxvt.url-select.launcher:  xdg-open
URxvt.url-select.underline: true
URxvt.underlineURLs:        true
